.board-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5%;
    width: 100%;
    cursor: pointer;
  }

  .all-boards-container {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between board rows */
  }
  
  .board-row {
    display: flex;
    flex-direction: column; /* Stack board name above images */
    align-items: flex-start; /* Align title to the left */
    gap: 10px;
  }
  
  .board-title {
    margin-block: 0;
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px; /* Slight spacing from the left */
  }
  
  .image-container-all {
    display: flex;
    gap: 10px; /* Space between images */
    flex-wrap: wrap;
    margin-top: 0;
    min-width: 600px;
  }
  
  .row-image{
    max-width: 19%;
  }
  
  .star-button {
    position: absolute;
    top: 0.125em;
    left: 0.65em;
    background: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .star-button.filled {
    width: 3.5em !important;
    height: 3.5em !important;
  }
  
  
  .delete-button {
    position: absolute;
    top: 0.45em;
    right: 0.85em;
    color: darkgrey;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-preview {
    width: 95%;
    object-fit: contain;
    max-height: 15vh;
    margin-bottom: 1%;
    margin-top: 0;
  }
  
  .image-placeholder {
    width: 95%;
    height: 15vh;
    background: rgba(169, 169, 169, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 14px;
    font-weight: bold;
  }
  