  
.scrollable-container {
    overflow-y: auto;
    scrollbar-width: none;
    /* msOverflowStyle: none; */
  }

.toolbar {
    z-index: 999;
    max-width: 30vw;
    min-width: fit-content;
    position: absolute; /* or use fixed if needed */
    bottom: 2.5%; /* Adjust the position as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 16px; /* Space between groups */
    background: #f8f9fa;
    padding: 2px 6px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 8.5%;
  }
  
  /* Button Groups */
  .toolbar-group {
    display: flex;
    gap: 10px;
    align-items: center;
    /* padding: 0 10px; */
    position: relative;
  }

.custom-button {
  background-color: transparent;
  border: none;
  border-radius: 0.5em;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.custom-button:hover {
  background-color: #f0f0f0; /* light grey */
}

.custom-button.active {
  background-color: #f0f0f0; /* darker grey */
}

