.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 6px; */
    width: 100%;
    height: fit-content;
    margin-bottom: 0.5em;
}

.upload-input {
    padding: 6px;
    border: 0.5px solid darkgrey;
    width: 95%;
    border-radius: 8px;
    box-sizing: border-box;
}

.file-input {
    display: none;
}
